html,body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.columnleft{
    float: left;
    position: relative;
    overflow: auto;
    width: 50%;
    height: 600px;
}
.columnright{
    float:right;
    position: relative;
    overflow: auto;
    width: 50%;
    height: 600px;
}
img{
    width: 8em;
    height: 8em;
}
body{
    background-color: #658864;
}
header, footer{
    background-color: #DDDDDD;
    clear:both;
}
button{
    color: black;
    background-color: goldenrod;
}
.card{
    background-color: white;
    width: 10em;
    margin: 1em;
    border: solid black 1px;
    float: left;
}
.left, .right, .centre{
    float: left;
    width: 33%;
}
/* .container{
    background-color: tan;
} */
.highlight {
    border: 2px solid red;
  }
.flex-container {
    display: flex;
    background-color: #DDDDDD;
}
.flex-container > div {
    background-color:  #b7b78a;
    margin: 1em;
    padding: 1em;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px; 
    background:#DDDDDD;
    padding: 0.1em;
 }
