html,body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.columnleft{
    float: left;
    position: relative;
    overflow: auto;
    width: 50%;
    height: 600px;
}
.columnright{
    float:right;
    position: relative;
    overflow: auto;
    width: 50%;
    height: 600px;
}
img{
    width: 8em;
    height: 8em;
}
body{
    background-color: #658864;
}
header, footer{
    background-color: #DDDDDD;
    clear:both;
}
button{
    color: black;
    background-color: #b7b78a;
    border: none;
}
.card{
    background-color: white;
    width: 10em;
    margin: 1em;
    border: solid black 1px;
    float: left;
}
.left, .right, .centre{
    float: left;
    width: 30%;
    margin: 0.5em;
}
.container{
    background-color: #b7b78a;
}
.highlight {
    border: 2px solid red;
  }
.flex-container {
    display: flex;
    background-color: #DDDDDD;
    align-items: center;
}
.flex-container >#login {
    background-color:  #b7b78a;
    margin: 1em;
    padding:0.1em;
}
footer {
    width:100vw;
    height:50px; 
    background:#DDDDDD;
    padding: 0.1em;
 }
 .comments{
    overflow-y: scroll;
    max-height: 25vh;
    max-width: 30%; 

 }