html,body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.columnleft{
    float: left;
    position: relative;
    overflow: auto;
    width: 50%;
    height: 600px;
}
.columnright{
    float: right;
    position: relative;
    overflow: auto;
    width: 50%;
    height: 600px;
}
img{
    width: 8em;
    height: 8em;
}
body{
    background-color: #658864;
}
header, footer{
    background-color: #DDDDDD;
    clear:both;
}
button, .button{
    color: black;
    background-color: #b7b78a;
    border: none;
}
.navbar {
    width: 100%;
    background-color: #DDDDDD;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-item { 
    float: right;
}
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: #b7b78a;
}

#welcome-msg { 
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: #b7b78a;
}

.nav-item:hover a {
    color: #DDDDDD;
}
.card{
    background-color: white;
    width: 10em;
    margin: 1em;
    border: solid black 1px;
    float: left;
}
.left, .right, .centre{
    float: left;
    width: 30%;
    margin: 0.5em;
}
.container{
    background-color: #b7b78a;
}
.highlight {
    border: 2px solid red;
  }
.flex-container {
    display: flex;
    background-color: #DDDDDD;
    align-items: center;
}
.flex-container >#login {
    background-color:  #b7b78a;
    margin: 1em;
    padding:0.1em;
}
footer {
    width:100vw;
    height:50px; 
    background:#DDDDDD;
    padding: 0.1em;
 }
 .comments{
    overflow: auto;
    max-height: 25vh;
    max-width: 50vh;
 }
 
 .evenRow{
    background-color: white;
 }

 .oddRow{
    background-color: lightgrey;
 } 
.productChartWrapper{ 
    width: 800px;
    height: 400px;
}
