.columnleft{
    float: left;
    position: relative;
    overflow: auto;
    width: 50%;
}
.columnright{
    float:right;
    position: relative;
    overflow: auto;
    width: 50%;
}
img{
    width: 8em;
    height: 8em;
}
.container{
    background-color: darkolivegreen;
}
header, footer{
    background-color: grey;
}
